<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yitian.sq.dao.DymsnMapper" >

  <select id="findDymsns" resultMap="BaseResultMap">
    select * from dymsn order by createtime limit 0,10
  </select>




  <resultMap id="BaseResultMap" type="com.yitian.sq.model.Dymsn" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deletestatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, message, createTime, deleteStatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dymsn
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dymsn
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yitian.sq.model.Dymsn" >
    insert into dymsn (id, message, createTime, 
      deleteStatus)
    values (#{id,jdbcType=INTEGER}, #{message,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{deletestatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yitian.sq.model.Dymsn" >
    insert into dymsn
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="deletestatus != null" >
        deleteStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        #{deletestatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yitian.sq.model.Dymsn" >
    update dymsn
    <set >
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        deleteStatus = #{deletestatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yitian.sq.model.Dymsn" >
    update dymsn
    set message = #{message,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>