<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yitian.sq.dao.ItemsMapper" >

  <cache type="com.yitian.sq.cache.RedisCache"></cache>

  <select id="findAll" parameterType="Items" resultMap="BaseResultMap">
    select * from items
    <where>
      <if test="title!=null and title!=''">and title like '%${title}%'</if>
      <if test="content!=null and content!=''">and content like '%${content}%'</if>
      <if test="brandId!=null and brandId!=1">and brand_id=#{brandId}</if>
      <if test="partId!=null and partId!=0">and part_id=#{partId}</if>
      and delstatus = 0
    </where>
  </select>


  <resultMap id="BaseResultMap" type="com.yitian.sq.model.Items" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="COMPANY_ID" property="companyId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="picurl" property="picurl" jdbcType="VARCHAR" />
    <result column="delstatus" property="delstatus" jdbcType="INTEGER" />
    <result column="collectCount" property="collectcount" jdbcType="INTEGER" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="part_id" property="partId" jdbcType="INTEGER" />
    <result column="prime_id" property="primeId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, COMPANY_ID, title, content, user_id, picurl, delstatus, collectCount, updateTime, 
    brand_id, part_id, prime_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from items
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from items
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yitian.sq.model.Items" >
    insert into items (id, COMPANY_ID, title, 
      content, user_id, picurl, 
      delstatus, collectCount, updateTime, 
      brand_id, part_id, prime_id
      )
    values (#{id,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{picurl,jdbcType=VARCHAR}, 
      #{delstatus,jdbcType=INTEGER}, #{collectcount,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{brandId,jdbcType=INTEGER}, #{partId,jdbcType=INTEGER}, #{primeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yitian.sq.model.Items" >
    insert into items
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        COMPANY_ID,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="picurl != null" >
        picurl,
      </if>
      <if test="delstatus != null" >
        delstatus,
      </if>
      <if test="collectcount != null" >
        collectCount,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="partId != null" >
        part_id,
      </if>
      <if test="primeId != null" >
        prime_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="picurl != null" >
        #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="delstatus != null" >
        #{delstatus,jdbcType=INTEGER},
      </if>
      <if test="collectcount != null" >
        #{collectcount,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="partId != null" >
        #{partId,jdbcType=INTEGER},
      </if>
      <if test="primeId != null" >
        #{primeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yitian.sq.model.Items" >
    update items
    <set >
      <if test="companyId != null" >
        COMPANY_ID = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="picurl != null" >
        picurl = #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="delstatus != null" >
        delstatus = #{delstatus,jdbcType=INTEGER},
      </if>
      <if test="collectcount != null" >
        collectCount = #{collectcount,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="partId != null" >
        part_id = #{partId,jdbcType=INTEGER},
      </if>
      <if test="primeId != null" >
        prime_id = #{primeId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yitian.sq.model.Items" >
    update items
    set COMPANY_ID = #{companyId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      picurl = #{picurl,jdbcType=VARCHAR},
      delstatus = #{delstatus,jdbcType=INTEGER},
      collectCount = #{collectcount,jdbcType=INTEGER},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      brand_id = #{brandId,jdbcType=INTEGER},
      part_id = #{partId,jdbcType=INTEGER},
      prime_id = #{primeId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>