<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yitian.sq.dao.NoticeMapper" >

  <select id="findAll" resultMap="BaseResultMap">
    select * from notice order by creattime
  </select>



  <resultMap id="BaseResultMap" type="com.yitian.sq.model.Notice" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="creatTime" property="creattime" jdbcType="TIMESTAMP" />
    <result column="delstatus" property="delstatus" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yitian.sq.model.Notice" extends="BaseResultMap" >
    <result column="url" property="url" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, title, creatTime, delstatus
  </sql>
  <sql id="Blob_Column_List" >
    url
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from notice
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from notice
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yitian.sq.model.Notice" >
    insert into notice (ID, title, creatTime, 
      delstatus, url)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP}, 
      #{delstatus,jdbcType=INTEGER}, #{url,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yitian.sq.model.Notice" >
    insert into notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="creattime != null" >
        creatTime,
      </if>
      <if test="delstatus != null" >
        delstatus,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="delstatus != null" >
        #{delstatus,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yitian.sq.model.Notice" >
    update notice
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        creatTime = #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="delstatus != null" >
        delstatus = #{delstatus,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yitian.sq.model.Notice" >
    update notice
    set title = #{title,jdbcType=VARCHAR},
      creatTime = #{creattime,jdbcType=TIMESTAMP},
      delstatus = #{delstatus,jdbcType=INTEGER},
      url = #{url,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yitian.sq.model.Notice" >
    update notice
    set title = #{title,jdbcType=VARCHAR},
      creatTime = #{creattime,jdbcType=TIMESTAMP},
      delstatus = #{delstatus,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>